{% extends 'layout.html' %}

{% block title %} Register {% endblock %}

{% block content %}
       <main class="form-signin w-100 m-auto">
  <form action="/register" method="post">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input name="name" type="text" class="form-control"  placeholder="name@example.com">
      <label for="floatingInput">Name</label>
    </div>
    <hr class="my-4">
    <div class="form-floating">
      <input name="phone" type="number" class="form-control"  placeholder="name@example.com">
      <label for="floatingInput">Phone</label>
    </div>
    <hr class="my-4">
    <div class="form-floating">
      <input name="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <hr class="my-4">
    <div class="form-floating">
      <input name="password" type="password" class="form-control"  placeholder="Password">
      <label >Password</label>
    </div>
    <hr class="my-4">
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; for BSUIR</p>
  </form>
</main>

{% endblock %}